HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### claude.md ###
.claude
/CLAUDE.md
/FCM_알림_시스템_구현.md
/결제_시스템_구현.md
/논리적_FK_설계_포트폴리오.md
/.omc/sessions/62f745f6-a330-4eb2-928c-835cd35bed24.json
/.omc/state/subagent-tracking.json
/AGENTS.md
/.omc
