spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  server:
    forward-headers-strategy: native

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true #false ë¡œ
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 1000
          order_inserts: true
          order_updates: true
    open-in-view: false
    database: mysql

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration
    validate-on-migrate: false

  threads:
    virtual:
      enabled: true

  jackson:
    property-naming-strategy: SNAKE_CASE
    time-zone: Asia/Seoul

  jwt:
    header: ${JWT_HEADER}
    prefix: ${JWT_PREFIX}
    secret: ${JWT_SECRET}
    accessExpiration: 3600
    refreshExpiration: 604800

  whispy:
    file:
      upload-path: ${UPLOAD_PATH}
      base-url: ${BASE_URL}

  discord:
    webhook:
      exception-url: ${DISCORD_WEBHOOK}
      log-url: ${DISCORD_LOG_WEBHOOK}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT}
            client-secret: ${GOOGLE_SECRET}
            scope:
              - profile
              - email
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          localhost: localhost

sentry:
  dsn: ${DSN_KEY}
  enable-tracing: true
  environment: development

default:
  profile: ${DEFAULT_PROFILE_IMAGE}

fcm:
  key:
    type: ${FCM_TYPE}
    project_id: ${PROJECT_ID}
    private_key_id: ${PRIVATE_KEY_ID}
    private_key: ${PRIVATE_KEY}
    client_email: ${CLIENT_EMAIL}
    client_id: ${CLIENT_ID}
    auth_uri: ${AUTH_URI}
    token_uri: ${TOKEN_URI}
    auth_provider_x509_cert_url: ${AUTH_PROVIDER}
    client_x509_cert_url: ${CLIENT_URL}
    universe_domain: ${UNIVERSE_DOMAIN}

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

        #  kakao:
        #    client-id: ${KAKAO_CLIENT}
        #    client-secret: ${KAKAO_SECRET}
        #    redirect-uri: ${KAKAO_REDIRECT_URI}
        #    client-authentication-method: client_secret_post
        #    authorization-grant-type: authorization_code
        #    scope:
        #      - profile_nickname
        #      - profile_image
        #      - account_email
        #    client-name: kakao

        # provider:
        #   kakao:
        #     authorization-uri: https://kauth.kakao.com/oauth/authorize
        #     token-uri: https://kauth.kakao.com/oauth/token
        #     user-info-uri: https://kapi.kakao.com/v2/user/me
        #     user-name-attribute: id

